<div class="wrapper">
  <div class="row content-row">
      <div class="col-md-3 btn-col">
          <button [disabled]="disablePrev" routerLink="../{{prevId}}" class="btn-prev btn"><i class="fas fa-chevron-left"></i></button>
        </div>
        <div class="headings col-md-6 text-center" *ngIf="selectedItem">
          <div class="headings-content">
              <h1>{{selectedItem.name}}</h1>
              <p>{{selectedItem.description}}</p>
          </div>
        </div>
        <div class="col-md-3 btn-col">
          <button [disabled]="disableNext" routerLink="../{{nextId}}" class="btn-next btn"><i class="fas fa-chevron-right"></i></button>
        </div>
  </div>
  <div class="row">
    <img src="{{selectedItem.imagePath}}" alt="{{selectedItem.name}}" class="gallery-item-img image-responsive">
  </div>
</div>
