.container a {
    position: relative;
    margin-bottom: 20px;
}

.btn {
   background:  linear-gradient(to bottom right, rgb(9, 9, 99), rgb(18, 11, 119)) !important;
   color: white !important;
}

.container {
    margin: 30px auto;
}
.btn-next {
    margin-right: 50px;
}

.btn-prev {
    margin-left: 50px;
}

div {
    display: inline-block;
}
