.container a {
    position: relative;
    margin-bottom: 20px;
}

.btn {
   background:  linear-gradient(to bottom right, rgb(9, 9, 99), rgb(18, 11, 119)) !important;
   color: white !important;
}

.container {
    margin: 30px auto;
}
.btn-next {
    margin-right: 50px;
    padding: 7px 20px;
    border-radius: 70px;
    font-size: 30px;
}

.gallery-item-img {
    border-radius: 20px;
    box-shadow: 0 0 20px #ccc;
}

.btn-prev {
    margin-left: 50px;
    padding: 7px 20px;
    border-radius: 50px;
    font-size: 30px;
}

div {
    display: inline-block;
}
