<div class="col-md-1">
        <button [disabled] = "disablePrev" routerLink = "../{{prevId}}" class="btn-prev btn btn-primary">Prev</button>
    </div>
<div class="col-md-10 container text-center" *ngIf = "selectedItem">
    <h1>{{selectedItem.name}}</h1>
    <p>{{selectedItem.description}}</p>
    <a class="btn btn-primary">Book Haircut</a>
    <br>
    <img src="{{selectedItem.imagePath}}" alt="{{selectedItem.name}}" class="image-responsive" [ngStyle] = "{'max-height': '360px'}" >
</div>
<div class="col-md-1">
    <button [disabled] = "disableNext" routerLink = "../{{nextId}}" class="btn-next btn btn-primary">Next</button>
</div>