* {
    font-family: 'Lilita One'
}

h1 {
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 70px;
}

.gallery-container {
    background-color: white;
}



.gallery div {
    display: inline-block;
    margin: 30px 0;
}



.jumbotron {
    background-color: transparent !important;
    margin-bottom: 0 !important;

}

@media (max-width: 480px) {
    .gallery-container {
        margin-top: 100px;
    }
    }