.container {
}

.booking-container {
    margin-top: 120px;
    height: 80vh;
}

a {
    margin: 100px 0;
    display: inline-block !important;
}

.booking-start-div {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px #ccc;
    transition: transform 0.2s;
}

.booking-start-div:hover {
    text-decoration: none;
    transform: scale(1.05)
}

.content {
    padding: 80px;
    color: black;
}

.content i {
    font-size: 50px;
}

@media (max-width: 768px) {
    .booking-start-div {
        width: 200px;
        height: 200px;
        margin-top: 80px;
    }

    .content {
        padding: 30px;
    }

    .div-wrapper {
        width: 50%;
        margin: 0 auto;
    }
}


