.container {
}

.booking-container {
    margin-top: 120px;
}

a {
    display: inline-block !important;
}

.booking-start-div {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px #ccc;
    transition: transform 0.2s;
}

.booking-start-div:hover {
    text-decoration: none;
    transform: scale(1.05)
}

.content {
    padding: 80px;
    color: black;
}

.content i {
    font-size: 50px;
}

.btn-wrapper {
    width: 800px;
    margin: 0 auto;
    margin-top: 70px;
}

@media (max-width: 500px) {
    .div-wrapper {
        height: 350px;
    }
}


