.container {
}

.booking-container {
    margin-top: 120px;
    height: 80vh;
}

a {
    margin: 100px 0;
    display: inline-block !important;
}

.booking-start-div {
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px #ccc;
    border-radius: 10px;
}

.content {
    padding: 20px;
}
