* {
    font-family: 'Lilita One'
}
.jumbotron {
    background-color: transparent;
}
.component{
    background-color: transparent;
}

h1 {
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 70px;
    color: white;
}

.hero {
    height: auto;
    margin-bottom: 0 !important;
    
}

p {
    font-family: 'roboto'
}

.options {
    height: 400px !important;
    background-color: white;
    
}

.options-container {
    background-color: white;
    box-shadow:  0 0 25px #ccc;
}



.options a, .options a:visited {
    display: inline-block !important;
    text-align: center;
    background-color: white;
    height: 250px;
    border-radius: 20px;
    color: black;
    width: 100%;
    position: relative;
    top: 70px;
}

.options-content * {
    position: relative;
    top: 50px;
}






.options a:hover {
    text-decoration: none;
    transform: translate(0, -10px) scale(1.05);
    transition: all 150ms ease-in;
    box-shadow:  0 0 15px #ccc;
}

.options-div-hr {
    margin-top: 20px;
    width: 50%;
}

.main div {
    display: inline-block !important;
}

i {
    font-size: 60px;
    margin-bottom: 10px;
}

.fa-thumbs-up {
    color: rgb(255, 233, 111);
}

.fa-calendar-check {
    color: rgb(247, 204, 255);
}

.fa-dollar-sign {
    color: forestgreen;
}

.fa-image {
    color: rgb(145, 196, 245);
}
