<body class="home-container">
    <div class='hero jumbotron'>
        <div class="main">
            <div class="col-md-4">
                <h1>vCutz</h1>
            </div>
            <div class='col-md-8'>
                <img src="">
            </div>
        </div>
    </div>
    <div class="options-container">

    <div class="options container">
        <div class="row">

            <div class="col-md-3">
                <a routerLink='gallery'>
                    <div class="options-content">
                        <h2>Gallery</h2>
                        <p></p>
                        <i class="fas fa-image"></i>
                        <hr class="options-div-hr">
                    </div>
                </a>

            </div>

            <div class="col-md-3">
                <a routerLink='pricing'>
                    <div class="options-content">
                        <h2>Pricing</h2>
                        <p></p>
                        <i class="fas fa-dollar-sign"></i>
                        <hr class="options-div-hr">
                    </div>
                </a>
            </div>


            <div class=" col-md-3">
                <a routerLink='booking'>
                    <div class="options-content">
                        <h2>Booking</h2>
                        <p></p>
                        <i class="fas fa-calendar-check"></i>
                        <hr class="options-div-hr">
                    </div>
                </a>

            </div>

            <div class=" col-md-3">
                <a routerLink='contact'>
                    <div class=" options-content">
                        <h2>Contact</h2>
                        <p></p>
                        <i class="fas fa-thumbs-up"></i>
                        <hr class="options-div-hr">
                    </div>
                </a>
            </div>


        </div>

    </div>
            
</div>


</body>
