* {
    font-family: 'Lilita One'
}

h1 {
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 70px;
}

.pricing-container {
    background-color: white !important;
}

.jumbotron {
    background-color: transparent;
    margin-bottom: 0 !important;

}