* {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

footer {
    background-color:#ccc0ae;
    height: 120px;
    box-shadow:  0 0 25px #ccc;
}

.btn-social a {
    color: black;
    display: inline-block;
    margin: 30px 5px 0;
    position: relative;
    cursor: pointer;
}

footer div {
}

.copyright {
    position: relative;
    top: 25px;
}


@media (max-width: 991px) {

    
}