* {
    font-family: 'Lilita One'
}

h1 {
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 70px;
}

.booking-container {
    background-color: white;

}

.jumbotron {
    background-color: transparent;
    margin-bottom: 0 !important;
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.btn-submit{

}

@media (max-width: 480px) {
    .booking-container {
        margin-top: 100px;
    }
    }