* {
    margin: 0 !important;
    padding: 0 !important;
}

.controller {
    height: auto;
    background: linear-gradient(to bottom right, rgb(9, 9, 99), rgb(18, 11, 119)) !important;
}

@media (max-width: 991px) {
    .controller {
        height: auto;
        margin: 0px !important;
        border-radius: 0px !important;
    }
}
