* {
    margin: 0 !important;
    padding: 0 !important;
}

.controller {
    height: 200vh;
    margin: 30px !important;
    border-radius: 15px !important;
    background: linear-gradient(to bottom right, rgb(36, 36, 100), rgb(32, 19, 48)) !important;
}

@media (max-width: 991px) {
    .jumbotron {
        height: 150vh;
        margin: 0px !important;
        border-radius: 0px !important;
    }
}