<div class="contact-container" backgroundmain>
    <div class="container">
        <h1 class="title" [ngStyle]="{'color':'black'}">CONTACT</h1>
    </div>
    <div class="jumbotron">
        <div class="row medias">
            <div class="col-md-12">
                <a href="" >
                    <div class="contact-content-bookonline contact-content-click text-center">
                        <i class="fas fa-calendar-check icon-large"></i>
                        <h3 #requiredInput>Book Appointment</h3>
                        <p>Online</p>
                        <div class="content-arrow">
                            <i class="fas fa-angle-right icon-small"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-12">
                <a routerLink='../booking/inquiries'>
                    <div class="contact-content-bookonline contact-content-click text-center">
                        <i class="fas fa-calendar-check icon-large"></i>
                        <h3 #requiredInput>Send Inquiry</h3>
                        <p>Questions or concerns?</p>
                        <div class="content-arrow">
                            <i class="fas fa-angle-right icon-small"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="https://www.instagram.com/vgcuts/">
                    <div class="contact-content contact-content-click text-center">
                        <i class="fab fa-instagram icon-large"></i>
                        <h3>{{businessIG}}</h3>
                        <p>(Business)</p>
                        <div class="content-arrow">
                            <i class="fas fa-angle-right icon-small"></i>
                        </div>
                    </div>

                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="https://www.instagram.com/varoongupta/">
                    <div class="contact-content contact-content-click text-center">
                        <i class="fab fa-instagram icon-large"></i>
                        <h3>{{personalIG}}</h3>
                        <p>(Personal)</p>
                        <div class="content-arrow">
                            <i class="fas fa-angle-right icon-small"></i>
                        </div>
                    </div>

                </a>
            </div>
            <div class="col-md-6">
                <a href="mailto:varoongupta99@gmail.com">
                    <div class="contact-content contact-content-click text-center">
                        <i class="fas fa-envelope icon-large"></i>
                        <h3>PM Me</h3>
                        <p>(Email)</p>
                        <div class="content-arrow">
                            <i class="fas fa-angle-right icon-small"></i>
                        </div>
                    </div>

                </a>
            </div>
            <div class="col-md-6">
                <a>
                    <div class=" contact-content contact-call text-center">
                        <i class="fas fa-mobile icon-large"></i>
                        <h3 class="phone-h3">{{mobile}}</h3>
                        <p>(Mobile)</p>
                    </div>

                </a>
            </div>
        </div>
        <hr>
        

    </div>
    <map-component></map-component>
</div>