<div class="contact-container container-waypoint">
    <div class="container-fluid title">
        <h1 [ngStyle]="{'color':'black'}">CONTACT</h1>
    </div>
    <div class="jumbotron">
        <div class="row medias">
                <div class="col-md-12">
                        <a routerLink = '../booking' >
                            <div class="contact-content-bookonline contact-content-click text-center">
                                    <i class="fas fa-calendar-check icon-large"></i>
                                <h3>Book Online</h3>
                                <p>(Recommended)</p>
                                <div class="content-arrow">
                                        <i class="fas fa-angle-right icon-small"></i>
                                </div>
                            </div>
                        </a>
                    </div>
            <div class="col-md-6">
                <a target="_blank" href="https://www.instagram.com/vgcutz/">
                    <div class="contact-content contact-content-click text-center">
                        <i class="fab fa-instagram icon-large"></i>
                        <h3>@vgcutz</h3>
                        <p>(Business)</p>
                        <div class="content-arrow">
                                <i class="fas fa-angle-right icon-small"></i>
                        </div>
                    </div>

                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="https://www.instagram.com/varoongupta/">
                    <div class="contact-content contact-content-click text-center">
                        <i class="fab fa-instagram icon-large"></i>
                        <h3>@varoongupta</h3>
                        <p>(Personal)</p>
                        <div class="content-arrow">
                                <i class="fas fa-angle-right icon-small"></i>
                        </div>
                    </div>

                </a>
            </div>
            <div class="col-md-6">
                <a  href="mailto:varoongupta99@gmail.com" >
                    <div class="contact-content contact-content-click text-center">
                        <i class="fas fa-envelope icon-large"></i>
                        <h3>PM Me</h3>
                        <p>(Email)</p>
                        <div class="content-arrow">
                                <i class="fas fa-angle-right icon-small"></i>
                        </div>
                    </div>

                </a>
            </div>
            <div class=" col-md-6">
                <a  >
                    <div class=" contact-content contact-call text-center">
                        <i class="fas fa-mobile icon-large"></i>
                        <h3 class="phone-h3" >647-920-4921</h3>
                        <p>(Mobile)</p>

                        <div class="content-arrow">
                                <i class="fas fa-angle-right icon-small"></i>
                        </div>
                    </div>

                </a>
            </div>
        </div>
    </div>
    <map-component></map-component>
</div>