<div backgroundmain class="booking-container">
    <div class="container title">
        <div class="row">
                <div routerLink='../'  class="btn btn-primary">
                    Return
                </div>
        </div>
       
        <h1  [ngStyle]="{'color':'black'}" backgroundmain>BOOKING</h1>
    </div>
    <div class="jumbotron booking">
        <div class="container">
            <div class="row justify-content-center">
                <form [formGroup] = "bookingForm" enctype="multipart/form-data"  action="/booking/submit" method="POST" (ngSubmit) = "onSubmit()" >
                    <div class="form-group">
                        <label  for = "firstName">*First Name</label>
                        <input type="text" id="firstName" class="form-control" autofocus autocomplete="off" formControlName = "firstName" >
                    </div>
                    <div class="form-group" *ngIf = "!bookingForm.get('firstName').valid && bookingForm.get('firstName').touched " >
                        <div class="alert alert-danger" >{{req}}</div>
                    </div>
                    <div class="form-group">
                        <label for = "lastName">*Last Name</label>
                        <input type="text" id="lastName" class="form-control" autocomplete="off" formControlName = "lastName" >
                    </div>
                    <div class="form-group" *ngIf = "!bookingForm.get('lastName').valid && bookingForm.get('lastName').touched ">
                        <div class="alert alert-danger">{{req}}</div>
                    </div>
                    <div class="form-group">
                        <label for = "mobile">*Mobile Number</label>
                        <input type="number"  id="mobile" class="form-control" autocomplete="off" formControlName = "mobile" >
                    </div>
                    <div class="form-group" *ngIf = "!bookingForm.get('mobile').valid && bookingForm.get('mobile').touched ">
                        <div class="alert alert-danger">{{req}}</div>
                    </div>
                    <div class="form-group" >
                        <label for = "email">*Email</label>
                        <input type="email" id="email" class="form-control" autocomplete="off" formControlName = "email" >
                    </div>
                    <div class="form-group" *ngIf = "!bookingForm.get('email').valid && bookingForm.get('email').touched ">
                        <div class="alert alert-danger">{{emailReq}}</div>
                    </div>
                    <div class="form-group ">
                        <label for = "image">Add Image</label>
                        <input type="file" id="image" class="form-control dropzone no-border" accept="image/*" multiple formControlName = "image" />
                    </div>
                    <div class="form-group ">
                        <label for = "notes">Message</label>
                        <textarea type="text" id="notes" class="form-control no-border" formControlName = "message" ></textarea>
                    </div>
                    <input [disabled] = bookingForm.invalid class="btn btn-primary btn-submit float-right" value="Book" type="submit">
                </form>
            </div>
        </div>
    </div>


</div>