* {
    margin: 0 !important;
    padding: 0 !important;
}

.controller {
    height: auto;
}

mat-progress-spinner {
    display:block !important;
    margin: 0 auto !important;
    position: relative;
    margin-top: 15% !important;
}

@media (max-width: 991px) {
    .controller {
        height: auto;
        margin: 0px !important;
        border-radius: 0px !important;
    }
}
