* {
    margin: 0 !important;
    padding: 0 !important;
}

.controller {
    height: auto;
}

@media (max-width: 991px) {
    .controller {
        height: auto;
        margin: 0px !important;
        border-radius: 0px !important;
    }
}
