<nav class="navbar navbar-expand navbar-light bg-light center navbar-center nav-primary" backgroundmain id="nav-primary">

    <div class=" mx-auto" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a  class="nav-link" routerLinkActive = 'active' routerLink ="gallery">GALLERY
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive = 'active' routerLink ="pricing">PRICING
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a class="nav-item logo-wrapper" routerLink="">
                        <img class="logo"  src="../../../assets/resources/billlogo3.png" >
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive = 'active' routerLink ="booking">BOOKING
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive = 'active' routerLink ="contact">CONTACT
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>






