<footer>
<div class="btn-social col-md-4">
    <a target="_blank" href="https://www.instagram.com/vgcutz/" ><i class="fab fa-instagram"></i></a>
    <a><i class="fab fa-facebook"></i></a>
    <a><i class="fas fa-envelope"></i></a>
</div>
<div class="copyright text-center col-md-4">© vCutz 2018</div>
<div class="directory text-right col-md-4">
        <a routerLink="gallery" >Gallery</a>
        <a routerLink="pricing">Pricing</a>
        <a routerLink="booking">Booking</a>
        <a routerLink="contact">Contact</a>
    </div>
</footer>