<footer>
<div class="btn-social col-md-4">
    <a target="_blank" href="https://www.instagram.com/vgcutz/" ><i class="fab fa-instagram"></i></a>
    <a target="_blank" href="https://www.facebook.com/varoon.gupta?ref=br_rs"><i class="fab fa-facebook"></i></a>
    <a href="mailto:varoongupta99@gmail.com" ><i class="fas fa-envelope"></i></a>
</div>
<div class="copyright text-center col-md-4">© vCutz 2018</div>
<div class="directory text-right col-md-4">
        <a routerLink="gallery" >GALLERY</a>
        <a routerLink="pricing">PRICING</a>
        <a routerLink="booking">BOOKING</a>
        <a routerLink="contact">CONTACT</a>
    </div>
</footer>