<div class="gallery-list-container" backgroundmain>
    <div class="container text-center">
        <h1 [ngStyle]="{'color':'black;'}">GALLERY</h1>
    </div>
    <div class="jumbotron gallery">
            <mat-spinner *ngIf="isLoading" mode="indeterminate"></mat-spinner>
            <div *ngIf="!isLoading" class="wrapper">
                <gallery-list-item-component (exampleAdded)="onPracticeClick($event)" *ngFor="let galleryItemEl of galleryItems; let i = index"
                    [galleryItem]=galleryItemEl [index]=i></gallery-list-item-component>
            </div>
    </div>

