div {
    display: inline-block;
    width: 100%;
}



.btn-toggle {
    cursor: pointer;
    font-size: 40px;
}

mat-spinner {
    margin: 0 auto ;
    top: 15px;
}

.gallery div {
    display: inline-block;
}

h1 {
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 70px;
    width: 100% !important;
}

.jumbotron {
    background-color: transparent !important;
    margin-bottom: 0 !important;
}
