/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Lilita One';
}

.title {
    text-align: center;
    position: relative;
    top: 30px;
    margin: 0 auto;
    font-size: 70px;
}
