.hero {
    background-image: url('../../assets/resources/hero/hero.jpeg');
    background-position: center top;
    background-size: 100% auto;
    height: auto;
}

.home-container {
    height: auto;
}

hr {
    width: 50%;
}

.options a,
.options a:visited {
    display: inline-block !important;
    text-align: center;
    background-color: white;
    height: 250px;
    border-radius: 20px;
    color: black;
    width: 100%;
    position: relative;
    margin: 60px auto 100px;
    box-shadow: 0 0 15px #ccc;
}

.options-content * {
    position: relative;
    top: 50px;
}

.options a:hover {
    text-decoration: none;
    transform: translate(0, -10px) scale(1.05);
    transition: all 150ms ease-in;
    box-shadow: 0 0 15px #ccc;
}

.options-div-hr {
    margin-top: 20px;
    width: 50%;
}

i {
    font-size: 60px;
    margin-bottom: 10px;
}

.fa-thumbs-up {
    color: rgb(255, 233, 111);
}

.fa-calendar-check {
    color: rgb(247, 204, 255);
}

.fa-dollar-sign {
    color: forestgreen;
}

.fa-image {
    color: rgb(145, 196, 245);
}

@media (max-width: 480px) {
    .home-container {
        margin-top: 80px;
    }

}

@media (max-width: 765px) {
    .options a,
    .options a:visited {
        margin: 20px auto 30px ;
    
    }
}

