<nav class="navbar navbar-expand navbar-dark bg-dark center navbar-center nav-primary" id="nav-primary">

    <div class=" mx-auto" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive = 'active' routerLink ="gallery">GALLERY
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive = 'active' routerLink ="pricing">PRICING
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <a class="navbar-brand" routerLink="">
                    <img class="logo" src="../../../assets/photos/billlogo3.png">
            </a>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive = 'active' routerLink ="booking">BOOKING
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive = 'active' routerLink ="contact">CONTACT
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="nav-mobile sticky-top">
<nav class="navbar navbar-mobile navbar-expand navbar-dark bg-dark center navbar-center nav-mobile-content" id="nav-primary">
    <div class=" mx-auto" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link nav-link-mobile" routerLinkActive = 'active' routerLink ="gallery">GALLERY
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-mobile" routerLinkActive = 'active' routerLink ="pricing">PRICING
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-mobile" routerLinkActive = 'active' routerLink ="/">HOME
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-mobile" routerLinkActive = 'active' routerLink ="booking">BOOKING
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-mobile" routerLinkActive = 'active' routerLink ="contact">CONTACT
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<a class="nav-mobile-btn btn-primary btn" >Open Mobile Nav</a>
</div>





