* {
    font-family: 'Lilita One'!important;
    font-size: 20px;
    
}



.navbar-brand {
    margin-left: 1rem !important;
}

.navbar-fixed-top {
    min-height: 80px;
}


.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

.loaded {
    background: linear-gradient(to bottom , rgb(255, 255, 255), rgba(255, 255, 255, 0.836)) !important;
    opacity: 1;
}

.scroll-hidden {
    transform: translate3d(0, -100%, 0) !important;
}

.navbar-nav li {
    margin-right: 0rem;
}

.nav-primary, .nav-mobile-content {
    background-color: transparent !important;
    transition: all 300ms ease ;
    height: 110px;
}

.nav-mobile {
    transition: all 300ms ease;
    background-color: black;
    height: 110px;
    position: fixed;
    top: -500px !important;
    display: none;
}

.nav-mobile-content {
    height: 500px !important;
    background-color: black !important;
}






nav a {
    cursor: pointer;
}




.logo {
    max-height: 80px !important;
}


.load-nav-content {
    transform: translate3d(0, 300%, 0) !important;
}


@media (max-width: 765px) {
    
    .navbar-nav li a {
        font-size: 15px;
    }


}


@media (max-width: 480px) {
    
.nav-primary {
    display: none;
}
.nav-mobile {
    display: block;
}

.nav-mobile-btn {
    height: 100px;
    width: 100vw;
}

}