<div class="container-fluid container-fluid-main">
    <nav class="navbar navbar-default">
        <div class="container-fluid container-fluid-nav">
            <div class="navbar-header"></div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#play" data-toggle="tab">quick game</a>
                    </li>
                    <li>
                        <a href="/online">ONLINE</a>
                    </li>
                    <li>
                        <a href="#settings" data-toggle="tab">Settings</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=gVIvB-ahI4A" target="_blank">How to Play</a>
                    </li>
                    <li>
                        <a href="http://www.billsheng.me" target="_blank">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>