* {
    font-family: 'Lilita One'!important;
    font-size: 20px;
    
}



.navbar-brand {
    margin-left: 1rem !important;
}

.navbar-fixed-top {
    min-height: 80px;
}


.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

.loaded {
    background: linear-gradient(to bottom , rgb(255, 255, 255), rgba(255, 255, 255, 0.836)) !important;
    opacity: 1;
}

.scroll-hidden {
    transform: translate3d(0, -100%, 0) !important;
}

.navbar-nav li {
    margin-right: 0rem;
}

.nav-primary {
    background-color: transparent !important;
    transition: all 300ms ease ;
    height: 110px;
}

nav a {
    cursor: pointer;
}

.logo {
    max-height: 80px !important;
}


@media (max-width: 991px) {
    .navbar-nav>li>a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }


}