<nav class="navbar navbar-expand-lg navbar-dark bg-dark center navbar-center sticky-top nav-primary">
    <a class="navbar-brand" routerLink="">
        <img class="logo" src="../../../assets/photos/billlogo3.png">
    </a>
    <button class="navbar-toggler position-sticky" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive = 'active' routerLink ="gallery">GALLERY
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive = 'active' routerLink ="pricing">PRICING
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive = 'active' routerLink ="booking">BOOKING
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive = 'active' routerLink ="contact">CONTACT
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light center navbar-center sticky-top nav-scroll">
    <a class="navbar-brand" routerLink="">
        <img class="logo" src="../../../assets/photos/billlogo3.png">
    </a>
    <button class="navbar-toggler position-sticky" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive = 'active' routerLink ="gallery">Gallery
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive = 'active' routerLink ="pricing">Pricing
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive = 'active' routerLink ="booking">Booking
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive = 'active' routerLink ="contact">Contact
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>




